@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

hr{
   width: 5%; 
   margin: 0 auto;
   border-width: 0.5em;
   border-radius: 2em;
   background-color: #0062B9;
   margin-bottom: 2%;
}

/* navbar */

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar{
    background-color: #14279B;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
/* .logo h3{
    font-family: 'Sacramento', cursive;
    font-weight: bolder;
    color: white;
    margin: 0.75rem;
} */
.logo img{
    width: 100%;
    height: auto;
    max-width: 100px;
}


.navbar-links ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-links ul li{
    font-family: 'Montserrat', sans-serif;
}

.navbar-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    display: block;
    font-weight: 800;
}
.navbar-links ul li a:hover{
    color: grey;
}

.toggle-button{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/* home */


.home{
    background:linear-gradient(to right, rgba(45, 145, 233, 0.8), rgba(39, 134, 218, 0.8)), url("homebackground.svg") center;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


/* about */
.about{
    text-align: center;
    margin-top: 3%;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description{
    flex: 30%;
    text-align: left;
    margin-left: 4%;
    font-size: 1vw;

}
.description p{
    font-size: 1.4em;
}
.profile-picture{
    flex: 40%;
}
.profile-picture img{
    width: 100%;
    height: auto;
    max-width: 350px;
}



/* services */


.services h2{
    text-align: center;
    margin-top: 3%;
}
.services .card-deck{
    margin: 5%;
}
.services img{
    width: 100%;
    height: auto;
    margin-top: 2%;
}
.services h5{ 
    text-align: center;
}



/* qualifications */

.qualifications{
    background-color: #3D56B2;
    color: white;
}
.qualifications h2{
    text-align: center;
    padding-top: 3%;
    color: white;
}
.qualifications hr{
    background: rgb(255, 255, 255);
    margin-bottom: 4%;
}
.qualifications .table{
    color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: 0 auto;
    font-size: 1.4em;
    gap: 1em;
    padding-bottom: 4%;
}


/* projects */

.projects{
   padding-bottom: 10%;
}
.projects h2{
    text-align: center;
    padding-top: 3%;
}
.projects h4{
    text-align: center;
    margin: 2%;
}




/* testimonials */

.testimonials{
    background-color: #3D56B2;
    color: white;
    text-align: center;
}
.testimonials hr{
    background-color: white;
}
.testimonials h2{
    text-align: center;
    padding-top: 3%;
}
.testimonials h4{
    text-align: center;
}
.testimonials blockquote{
    text-align: left;
}
.testimonials-container{
    display: grid;
    margin: 3%;
    gap: 2em;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 5%;
    margin-bottom: 0;
}
.testimonials-container div{
    border: 5px solid white;
    padding: 4%;
    border-radius: 20%;
   
}
.testimonials-container div p{
    text-align: center;
}
.testimonials img{
    width: 100%;
    height: auto;
    max-width: 100px;
}


/* contactme */

.contactme{
    background-color: #E6E6E6;
}
.contactme h2{
    text-align: center;
    padding-top: 3%;
}
.contactme h4{
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
.contactme-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 3%;
    padding-bottom: 3em;
}
.contactme form{
    width: 50%;
}
.contactme .contact-info p:nth-child(1){
    font-size: 2em;
}


/* footer */

footer{
    background-color: #14279B;
}
.navbar-links-footer ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 2em;
}
.navbar-links-footer ul li a{
    text-decoration: none;
    color: white;
    padding: 1em;
    
}
.navbar-links-footer ul li a:hover{
    color: grey;
}
footer .icons{
    text-align: center;
}
footer .icons a{
    text-decoration: none;
    color: white;
    padding: 0.8em;
}
footer p{
    color: white;
    text-align: center;
    margin: 0;
    padding: 1em;
}

/* media */



@media (max-width: 870px){
    body{
        font-size: 1.3rem;
    }
    .navbar{
        justify-content: center;
    }
    .navbar-links ul li a{
        font-size: 1rem;
    }
    .home{
        text-align: center;
    }
    .testimonials-container{
        grid-template-columns: 1fr;
    }
    .contactme-container{
        flex-direction: column;
        align-items: center;
    }
    .contactme-container form{
        padding: auto;
        width: 100%;
    }
    .contactme-container .contact-info{
        align-self:baseline;
        padding-top: 3em;
    }
   .navbar-links-footer ul{
    flex-direction: column;
    text-align: center;
     }
     .navbar-links-footer ul li a{
     }
     .about-container{
         flex-direction: column-reverse;
     }
     .profile-picture{
         margin: 5%;
     }
     .description{
         text-align: center;
         font-size: 0.8em;
         margin-bottom: 5%;
     }
     .description p{
         margin: 5%;
     }
     
}



@media (max-width: 600px){
    body{
        font-size: 1.1rem;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-links li{
        padding: 0.5rem;
    }
    .navbar-links.active{
        display: flex;
    }
    .home h1{
        font-size: 1.8em;
    }
    .home p{
        margin: 2% 5%;
    }
    .qualifications .table{
        grid-template-columns: 1fr;
        font-size: 1rem;
    }
    .qualifications .table h3{
        text-align: center;
    }
    h4{
        font-size: 1em;
        padding-bottom: 5%;
    }
    
}